<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.letb.museek" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseClasses.BaseSpiceActivity" >
        </activity>
        <activity android:name=".PlaylistActivity" >
        </activity>

        <service
            android:name=".Services.SpiceRequestService"
            android:exported="false" />
        <service android:name=".Services.MediaPlayerService" android:exported="true">
            <intent-filter>
                <action android:name="com.letb.museek.musicplayer.action.TOGGLE_PLAYBACK" />
                <action android:name="com.letb.museek.musicplayer.action.PLAY" />
                <action android:name="com.letb.museek.musicplayer.action.PAUSE" />
                <action android:name="com.letb.museek.musicplayer.action.SKIP" />
                <action android:name="com.letb.museek.musicplayer.action.REWIND" />
                <action android:name="com.letb.museek.musicplayer.action.STOP" />
            </intent-filter>
        </service>
        <service
            android:name=".RequestProcessor.RequestProcessorService"
            android:exported="false" >
        </service>
        <service
            android:name=".BaseClasses.BaseSpiceService"
            android:exported="false" >
        </service>
    </application>

</manifest>
